@import url('http://fonts.cdnfonts.com/css/nats');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');


* {
    margin    : 0;
    padding   : 0;
    border    : 0;
    box-sizing: border-box;
}

.container_tela{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.banner_login{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    flex-direction: column;
    justify-content: space-around;
}

.box_banner{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.container_login{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 83%;
}

.box_titulo{
    height: 30%;
    width: 71%;
}

.Titulo{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 60px;
}

.Sub-titulo{
    font-family: 'ABeeZee', sans-serif;
    font-size: 32px;
}

.logo{
    height: 74px;
    width: 100px;
}

.box_img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_form{
    width: 90%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.box_inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 600px;
    height: 100%;
}

.label_input{
    font-family: 'NATS', sans-serif; 
    color: #333333;
    font-size: 20px;
}

.input_login{
    height: 60px;
    width: 428px;
    border-radius: 5px;
    padding-left: 4%;
    border: 2px solid #F3BC2C;
}

.btn_login{
    width: 71.3%;
    height: 19.2%;
    border-radius: 5px;
    background-color: #F3BC2C;
    font-size: 32px;
    font-family: 'NATS', sans-serif;
    color: #333333;
}

.input_login:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

/* Cor de fundo do autocomplete */
.input_login:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #ffffff inset;
}

/* Cor do texto do autocomplete */
.input_login:-webkit-autofill {
    -webkit-text-fill-color: #333333 !important;
}

.Mensagem_erro{
    font-size: 20px;
    font-family: 'NATS', sans-serif;
    color: #333333;
}